body,
html,
* {
  padding: 0%;
  margin: 0%;
  font-size: 62.5%;
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: rgb(103, 235, 245);
}
 
.text-font {
  font-family: "Sarabun", sans-serif;
  font-size: 5rem;
}
 
.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: #9b3cf5;
  font-size: 3.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 0 5 black;
  color: white;
  
}
.box-image {
  width: 20rem;
  height: auto;
  margin-top: 0;
}

